# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# environment files
*.env

# any data stored in external, interim, processed, and raw
/data/external/**
/data/interim/**
/data/processed/**
/data/raw/**

# any cache folders named __pycache__
**/__pycache__/
