h1 { color: #000000; } /* Black */
h2 { color: #006400; } /* DarkGreen */
h2.mouse-phenotype { color: #FFA500; } /* Orange */
h2.mouse_prompt { color: #778899; } /* LightSlateGray */
h2.omim_prompt { color: #00BFFF; } /* DeepSkyBlue */
h2.reassign_me_3 { color: #8A2BE2; } /* BlueViolet */
h2.reassign_me_4 { color: #5F9EA0; } /* CadetBlue */
h2.reassign_me_5 { color: #D2691E; } /* Chocolate */
h2.reassign_me_6 { color: #DC143C; } /* Crimson */
h2.reassign_me_7 { color: #00CED1; } /* DarkTurquoise */
h2.reassign_me_8 { color: #B8860B; } /* DarkGoldenRod */
h2.reassign_me_9 { color: #006400; } /* DarkGreen */
h2.reassign_me_10 { color: #8B0000; } /* DarkRed */
h2.reassign_me_11 { color: #FF8C00; } /* DarkOrange */
h2.reassign_me_12 { color: #9932CC; } /* DarkOrchid */
h2.reassign_me_13 { color: #8B008B; } /* DarkMagenta */
h2.reassign_me_14 { color: #556B2F; } /* DarkOliveGreen */
h2.reassign_me_15 { color: #FF1493; } /* DeepPink */
h2.reassign_me_16 { color: #00BFFF; } /* DeepSkyBlue */
h2.reassign_me_17 { color: #696969; } /* DimGray */
h2.reassign_me_18 { color: #1E90FF; } /* DodgerBlue */
h2.reassign_me_19 { color: #B22222; } /* FireBrick */
h2.reassign_me_20 { color: #228B22; } /* ForestGreen */
h2.reassign_me_21 { color: #FF00FF; } /* Fuchsia */
h2.reassign_me_22 { color: #FFD700; } /* Gold */
h2.reassign_me_23 { color: #DAA520; } /* GoldenRod */
h2.reassign_me_24 { color: #ADFF2F; } /* GreenYellow */
h2.reassign_me_25 { color: #FF69B4; } /* HotPink */
h2.reassign_me_26 { color: #CD5C5C; } /* IndianRed */
h2.reassign_me_27 { color: #4B0082; } /* Indigo */
h2.reassign_me_28 { color: #F0E68C; } /* Khaki */
h2.reassign_me_29 { color: #E6E6FA; } /* Lavender */
h2.reassign_me_30 { color: #FFF0F5; } /* LavenderBlush */
h2.reassign_me_31 { color: #7CFC00; } /* LawnGreen */
h2.reassign_me_32 { color: #FFFACD; } /* LemonChiffon */
h2.reassign_me_33 { color: #ADD8E6; } /* LightBlue */
h2.reassign_me_34 { color: #F08080; } /* LightCoral */
h2.reassign_me_35 { color: #E0FFFF; } /* LightCyan */
h2.reassign_me_36 { color: #FAFAD2; } /* LightGoldenRodYellow */
h2.reassign_me_37 { color: #D3D3D3; } /* LightGray */
h2.reassign_me_38 { color: #90EE90; } /* LightGreen */
h2.reassign_me_39 { color: #FFB6C1; } /* LightPink */
h2.reassign_me_40 { color: #FFA07A; } /* LightSalmon */
h2.reassign_me_41 { color: #20B2AA; } /* LightSeaGreen */
h2.reassign_me_42 { color: #87CEFA; } /* LightSkyBlue */
h2.reassign_me_43 { color: #778899; } /* LightSlateGray */
h2.reassign_me_44 { color: #B0C4DE; } /* LightSteelBlue */
h2.reassign_me_45 { color: #FFFFE0; } /* LightYellow */
h2.reassign_me_46 { color: #32CD32; } /* LimeGreen */
h2.reassign_me_47 { color: #FAF0E6; } /* Linen */
h2.reassign_me_48 { color: #800000; } /* Maroon */
h2.reassign_me_49 { color: #66CDAA; } /* MediumAquaMarine */
h2.reassign_me_50 { color: #0000CD; } /* MediumBlue */
h2.reassign_me_51 { color: #BA55D3; } /* MediumOrchid */
h2.reassign_me_52 { color: #9370DB; } /* MediumPurple */
h2.reassign_me_53 { color: #3CB371; } /* MediumSeaGreen */
h2.reassign_me_54 { color: #7B68EE; } /* MediumSlateBlue */
h2.reassign_me_55 { color: #00FA9A; } /* MediumSpringGreen */
h2.reassign_me_56 { color: #48D1CC; } /* MediumTurquoise */
h2.reassign_me_57 { color: #C71585; } /* MediumVioletRed */
h2.reassign_me_58 { color: #191970; } /* MidnightBlue */
h2.reassign_me_59 { color: #F5FFFA; } /* MintCream */
h2.reassign_me_60 { color: #FFE4E1; } /* MistyRose */
h2.reassign_me_61 { color: #FFE4B5; } /* Moccasin */
h2.reassign_me_62 { color: #FFDEAD; } /* NavajoWhite */
h2.reassign_me_63 { color: #000080; } /* Navy */
h2.reassign_me_64 { color: #FDF5E6; } /* OldLace */
h2.reassign_me_65 { color: #808000; } /* Olive */
h2.reassign_me_66 { color: #6B8E23; } /* OliveDrab */
h2.reassign_me_67 { color: #FFA500; } /* Orange */
h2.reassign_me_68 { color: #FF4500; } /* OrangeRed */
h2.reassign_me_69 { color: #DA70D6; } /* Orchid */
h2.reassign_me_70 { color: #EEE8AA; } /* PaleGoldenRod */
h2.reassign_me_71 { color: #98FB98; } /* PaleGreen */
h2.reassign_me_72 { color: #AFEEEE; } /* PaleTurquoise */
h2.reassign_me_73 { color: #DB7093; } /* PaleVioletRed */
h2.reassign_me_74 { color: #FFEFD5; } /* PapayaWhip */
h2.reassign_me_75 { color: #FFDAB9; } /* PeachPuff */
h2.reassign_me_76 { color: #CD853F; } /* Peru */
h2.reassign_me_77 { color: #FFC0CB; } /* Pink */
h2.reassign_me_78 { color: #DDA0DD; } /* Plum */
h2.reassign_me_79 { color: #B0E0E6; } /* PowderBlue */
h2.reassign_me_80 { color: #BC8F8F; } /* RosyBrown */
h2.reassign_me_81 { color: #4169E1; } /* RoyalBlue */
h2.reassign_me_82 { color: #8B4513; } /* SaddleBrown */
h2.reassign_me_83 { color: #FA8072; } /* Salmon */
h2.reassign_me_84 { color: #F4A460; } /* SandyBrown */
h2.reassign_me_85 { color: #2E8B57; } /* SeaGreen */
h2.reassign_me_86 { color: #FFF5EE; } /* SeaShell */
h2.reassign_me_87 { color: #A0522D; } /* Sienna */
h2.reassign_me_88 { color: #C0C0C0; } /* Silver */
h2.reassign_me_89 { color: #87CEEB; } /* SkyBlue */
h2.reassign_me_90 { color: #6A5ACD; } /* SlateBlue */
h2.reassign_me_91 { color: #708090; } /* SlateGray */
h2.reassign_me_92 { color: #FFFAFA; } /* Snow */
h2.reassign_me_93 { color: #00FF7F; } /* SpringGreen */
h2.reassign_me_94 { color: #4682B4; } /* SteelBlue */
h2.reassign_me_95 { color: #D2B48C; } /* Tan */
h2.reassign_me_96 { color: #008080; } /* Teal */
h2.reassign_me_97 { color: #D8BFD8; } /* Thistle */
h2.reassign_me_98 { color: #FF6347; } /* Tomato */
h2.reassign_me_99 { color: #40E0D0; } /* Turquoise */
h2.reassign_me_100 { color: #EE82EE; } /* Violet */
_