OPENAI_API_KEY=KEYVALUE
model=gpt-35-turbo
OPENAI_organization=VALUE
openai_api_base=URL
API_VERSION=2024-06-01

# currently using umich "https://umichai.azure-api.net/azure-openai-api" but could require something else for compute nodes in the future
openai_api_base=https://umichai.azure-api.net/azure-openai-api
openai_api_base=https://api.umgpt.umich.edu/azure-openai-api

prompts_json_file="prompts.json"
max_tokens=150
temperature=0.7